:root {
    --primary-font-gaming: 'PressStart2P';
    --primary-font-variable: 'Inter-Variable';
    --primary-font-weight-title: 700;
    --primary-font-weight-text: 400;
    --primary-background-color: #fff;
    --primary-text-color: #000;
    --primary-background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --primary-border-color: #000;
    --primary-width: clamp(375px, 50%, 700px);
    --primary-hover-color: #fff;
    --primary-heart-contour-color: #000;
    --primary-heart-color: #ff0000;
}
